
<body style="background:url('assets/loooo.png');color: white;" >
    <ng-container *ngIf="products.length !=0" >
        <br>
        <div class="container">
            <div class="card-table" >
            <div  style="border-radius: 5px ;">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>P.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of products;index as i" >
                            <td>{{i+1}}</td>
                            <td>{{p.libelle}}</td>
                            <td><img [src]="p.photo" width="150px" height="150px"/></td>
                            <td>{{p.description}}</td>
                            <td>{{p.price}} TND</td>
                            <td>
                                <button (click)="removeItem(p)" mat-raised-button color="warn"  ><span class="material-symbols-outlined">delete</span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <br>
            <span  style="position: relative;top:6px;color:#f4511e" class="material-symbols-outlined">apps</span><span style="margin-left:10px ;" >Total <span style="color: #f4511e;">:</span> {{grandTotal}} TND</span>
            <button (click)="emptycart()" style="position: relative;left:1050px" color="warn" mat-raised-button ><span style="position: relative;top:-2px;right:5px;" class="material-symbols-outlined">delete_forever</span>Clear Cart</button>
            <br>
        </div>
    </ng-container>
    <ng-container *ngIf="products.length==0"   >
    <br>
    <div class="container">
        <mat-card class="car" style="background:#f4511e;color: white;position: relative;bottom: 10px;">
            <div class="cent">
            <img src="assets/cc.png" width="100px" height="100px" style="position: relative;top:-15px;right:6px" />
            <br>
            <h3>Your cart is empty !</h3>
                <h4>Fill it Up !</h4>
                &nbsp;<button mat-raised-button color="primary" routerLink="../list">Shop Now</button>
            </div>
        </mat-card>
    </div>
    </ng-container>
    <div style="text-align: right;">
        <button style="position: relative;top:50px;right:20px;height: 60px;width: 100px;" mat-raised-button (click)="pageUp()" color="success" ><span  class="material-symbols-outlined">arrow_upward</span></button>
    </div>
</body>
