body{animation: trans 1.5s;background:rgb(27, 26, 26);color:white;font-family: monospace;}


.c1{animation: transl 5s alternate infinite}


@keyframes trans 
{
    from{opacity: 0;}
    to{opacity: 1;}
}