<body style="background:url('assets/loooo.png')">
    <div class="container">
    <div class="about-section">
        <p><span class="cont">Looking for games to play ? </span><br>
            <span class="cont">Then you came to the right place</span><br><br>
             OUR WEBSITE IS THE LEADER OF GAMING , YOU CAN FIND ALL KINDS OF GAMES AND CONSOLES YOU WANT
        </p>
    </div>
    <div style="text-align: center;"><img src="assets/log.png" /></div>
    <br>
    <div class="who" >WHO ARE WE ?</div><br><br>
    <div style="color:wheat;text-transform: uppercase;font-size: 25px;text-align: center;">GAMING ON STORE is a gaming website, mainly selling Consoles and Game CDs. Here, You'll find the lastest games releasing, From AAA Games to Indie games. </div>
    <br><br>
    <div style="text-align: center;border-color: #f4511e;display: flex;padding: 5px;margin-left: 20px"  ><img src="assets/cyberw.jpg" width="600px" height="500px" style="border-radius:10px"  />&nbsp;<img src="assets/owl.jpg"width="600px" height="500px" style="border-radius:10px" /></div>
    <br><br>
    <div class="who">WHERE ARE WE ?</div>
    <br><br>
    <div  style="color:wheat;text-transform: uppercase;font-size: 25px;text-align: center;">
        we are an online shop, delevering across all parts of tunisia for free. Our base is located at l'Aouina Tunisia.
         We opperate from 10 am to 6 pm daily ! So you can keep buying games at any moment!
    </div>
    <br><br>
    <div class="who" >HOW CAN YOU CONTACT US ?</div>
    <br><br>
    <div style="color:wheat;text-transform: uppercase;font-size: 25px;text-align: center;">Through these links</div>
    <br><br>
    <div style="color:wheat;text-transform: uppercase;font-size: 35px;display:flex; padding: 10px;margin-left: 40%; ">
        <div class="sca"><a href="#"  ><i class="fa-brands fa-facebook-f"></i></a></div> &nbsp;&nbsp;
        <div class="sca"><a href="#"  ><i class="fa-brands fa-instagram"></i></a></div> &nbsp;&nbsp;
        <div class="sca"><a href="#"  ><i class="fa-solid fa-envelope"></i></a></div>&nbsp;&nbsp;
        <div class="sca"><a href="#"  ><i class="fa-solid fa-phone"></i></a></div>
    </div>
    </div>
    <br>
    <br>
</body>
