<div style="color:white;background: url('assets/ga.png');height:autopx;border-top:2px solid #f4511e;"  >
    <div class="social">
        <a href="#"><mat-icon style="font-size: 30px;" >email</mat-icon></a>
        <a href="#"><mat-icon style="font-size: 30px;">facebook</mat-icon></a>
        <a href="#"><mat-icon style="font-size: 30px;">phone</mat-icon></a>
        <a href="#"><i class="fa-brands fa-instagram" style="font-size: 30px;position: relative;bottom:3px"></i></a>
    </div>
    <span style="margin-left:160px;font-size:30px;position: relative;top: -31px;color:black;font-weight: 700;">GAMING ON STORE</span>
    <div style="font-style:monospace;font-weight: 500;font-size:30px;" >
        <img src="assets/gam.png" style="height:180px;width:160px;margin-top:-150px ;margin-right: 100px;position: relative;top:4px ;"  />
    </div>
    <br>
    <div style="margin-left:50px;font-size: 20px;color: black;font-weight: 700;display: inline-block;text-transform: uppercase;">
        <span style="margin-left: 60px;font-size: 20px;" ><i class="fa-solid fa-phone"></i></span>
        <span style="margin-left:628px;font-size: 20px;"><i class="fa-solid fa-truck"></i></span>
        <span style="margin-left:603px;font-size: 20px;"><i class="fa-solid fa-lock-open"></i></span><br><br>
        <span>+216 12 458 447</span>
        <span style="margin-left:500px">Fast Delivery</span>
        <span style="margin-left:500px">Open Daily</span>
    </div>
    <br>
    <br>
        <table style="width: 50%;margin-left:388px;font-size: 20px;border-spacing: 0 15px;text-transform: uppercase;font-weight: 550;">
            <tr>
        <td><a class="noA"  routerLink="about"><i class="fa-solid fa-circle-info"></i> about us</a></td>
        <td><a class="noA" routerLink="cart"><i class="fa-solid fa-cart-shopping"></i> cart</a></td>
        <td><a class="noA"  routerLink="login"><i class="fa-solid fa-lock"></i> log in</a></td>
            </tr>
            <tr>
        <td><a class="noA"   routerLink="landing"><i class="fa-solid fa-house"></i> home</a></td>
        <td><a class="noA"  routerLink="list"><i class="fa-solid fa-rectangle-list"></i> product list</a></td>
        <td><a class="noA" href="https://www.google.com/maps/place/Zucchelli+Station/@-74.6958866,164.1070081,13.36z/data=!4m5!3m4!1s0xaf6c67ce4c337699:0x410212c5e9b2bffa!8m2!3d-74.694434!4d164.1142366" ><i class="fa-solid fa-location-dot"></i> location</a></td>
            </tr>
        </table>
    <div style="margin-left: 680px;margin-top: 20px;color: black;font-weight: 550;"> © 2022 : GAMING ON STORE™</div>
</div>