<div style="color:white;background: url('assets/ga.png');width:1518px;height:200px;border-top:2px solid #f4511e;" >
    <div class="social">
        <a href="#"><mat-icon style="font-size: 30px;" >email</mat-icon></a>
        <a href="#"><mat-icon style="font-size: 30px;">facebook</mat-icon></a>
        <a href="#"><mat-icon style="font-size: 30px;">phone</mat-icon></a>
        <a href="#"><mat-icon style="font-size: 30px;">tiktok</mat-icon></a>
    </div>
    <span style="margin-left:160px;font-size:30px;position: relative;top: -31px;color:black;font-weight: 700;">GAMING ON STORE</span>
    <div style="font-style:monospace;font-weight: 500;font-size:30px;" >
        <img src="assets/gam.png" style="height:180px;width:160px;margin-top:-150px ;margin-right: 100px;position: relative;top:4px ;"  />
    </div>
</div>
