body{animation: trans 1.5s;height:3000px;width: auto;background:rgb(27, 26, 26)}


.c1{animation: transl 5s alternate infinite}


.c2{font-size:20px;padding:30px;font-family: monospace;font-weight: 500;border-radius: 5px;}


.c2:hover{background-color:#f4511e;transition: 0.7s;}


@keyframes trans 
{
    from{opacity: 0.5;}
    to{opacity: 1;}
}
@keyframes transl 
{
    from{transform: translate(50px);}
    to{transform: translate(-50px);}    
}

.ho:hover{cursor: pointer;}

.form-control{border-radius: 3px;width:800px;height:50px}

.sea
{
    position: absolute;z-index: 10;
    right: 41%;
    color:#f4511e;
    top: 298px;
}