body{animation: trans 1.5s;background:rgb(27, 26, 26);height:auto;width: auto;}
.c1{animation: transl 5s alternate infinite}
@keyframes trans 
{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes transl 
{
    from{transform: translate(50px);}
    to{transform: translate(-50px);}    
}
