
 body
 {
  animation: trans 1.5s;width:auto;height:auto;
 }


 img{width:250px;height:250px;border-radius: 5px;}


.c1{animation: transl 5s alternate infinite}


.btnn:hover
{
  animation: btnAni 0.75s alternate infinite;
}


.c4
 {
  filter: blur(2px);-webkit-filter: blur(2px);
 }


 .c5
 {
   font-size: 50px;font-family: monospace;font-weight: 500;
 }


@keyframes trans 
 {
    from{opacity: 0;}
    to{opacity: 1;}
 }


 @keyframes btnAni
 {
  0%{transform: translateY(0px);}
  100%{transform: translateY(20px);}
 } 

 
 
  


