
<body style="background:url('assets/loooo.png')"  >
    <br>
    <div class="container"  style="border-radius: 5px;" >
        <br>
        <div class="row">
        <div class="col-12" style="border: 0.1px solid #EF5F0D;border-radius: 50px;height:500px;background: url('assets/rr.png');color:whitesmoke;" >
            <br>
            <br>
            <br>
                   <div id="di" (mouseleave)="offm()" (mouseover)="onm()">
                    <span class="c5" style="margin-left:50px;">
                        WELCOME TO <span style="color:#EF5F0D">GAMING ON </span>STORE
                    </span>
                    </div>
                    <br>
                    <br>
                    <br>
                    <span style="font-size:20px;margin-left:50px;margin-top: 800px;position: relative;">
                        <span style="color:#EF5F0D;">Browse</span> Our Products Here
                    </span>
                    <br>
                <button class="btnn" routerLink="/list" style="font-size:30px ;border:1px solid #EF5F0D;margin-top:50px;margin-left: 50px;padding: 15px 32px;border-radius: 5px;background: #EF5F0D;color:whitesmoke;">
                    Browse
                </button>
        </div> 
        <br>        
    </div> 
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div *ngFor="let p of products|slice:0:12" class="col-3 ho"  >
                <app-product [prod]="p" [routerLink]="['../list/detailPro',p.id]" ></app-product>
            </div>
        <br>
        </div>
    </div>
    <br>
    
</body>