body{animation: trans .5s;}

@keyframes trans 
{
    from{opacity: 0;}
    to{opacity: 1;}
}
.card
{

    border: none;
    width:500px;
    padding:40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
   
}
.card h1,h6{color:white}
label {color: white;}

.btn-primary{background : #fff;color:black;border-color: black;}

.form-control{border-color: black;border: 1px solid;}

a{color:#fff}

a:hover{color:black}

.bt{border-radius: 5px;border:1px solid black;padding: 10px;transition: .2s;}

.bt:hover{background-color: #fff;transition: .2s;}

.btt{background-color: white;transition: .5s;color:black;border-radius: 5px;border: 1px solid black;}
 .btt:hover{background-color: black;color:#f4511e;transition: .5s;}