.pass{border-style: none;}


.pass:hover{border-style: none;}


table{height:250px;border-radius: 5px;}


th,td{width: 15%;}

.mat-warn{background: #f4511e;transition: .2s;}


.mat-warn:hover{color:black;transition: .2s;}