body{animation: trans .5s;}

@keyframes trans 
{
    from{opacity: 0;}
    to{opacity: 1;}
}

.card
{

    border: none;
    width:500px;
    padding:40px;
    position: absolute;
    top:58%;
    left:50%;
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg,hsla(205, 46%, 30%, 1) 0%,hsla(206, 29%, 36%, 1)100%);
}

.card h1,h6{color:white}

label {color: white;}


.alert-danger
{
    background-color: black;color:white
}
a{color:#fff}

a:hover{color:black}

.btt{background-color: white;transition: .5s;color:black;border-radius: 5px;}
 .btt:hover{background-color: black;color:#f4511e;transition: .5s;}