
<mat-toolbar style="background:#EF5F0D ;height:15%" onload="remove()">
  <div class="c1 c3">
  <mat-icon style="margin-top:5px">games</mat-icon> &nbsp;
  <span>GamingOn Store</span>
  <button mat-button ><span class="c2" routerLink="/landing" >Home</span></button>
  <button mat-button><span class="c2" routerLink="/about" >About</span></button>
  <button mat-button><span class="c2" routerLink="/list">Product List</span></button>
  <button mat-button><span class="c2" routerLink="/about" >Access</span></button>
  </div>
</mat-toolbar>
