
<mat-toolbar style="background:url('assets/loooo.png');height:17%" onload="remove()" >
  <div class="c1" style="border-bottom-style:solid;border-color: #f4511e;" >
  <span routerLink="../landing" class="c2 ho"  ><img src="assets/gam.png" />GAMING ON STORE</span>
  <button mat-button ><span class="c2" routerLink="/landing" >HOME</span></button>
  <button mat-button><span class="c2" routerLink="/about" >ABOUT US</span></button>
  <button mat-button><span class="c2" routerLink="/list">PRODUCT LIST</span></button>
  <button mat-button><span class="c2" routerLink="/about" >ACCESS</span></button>
  </div>
</mat-toolbar>
